@font-face {
font-family: 'Futura PT Heavy';
src: url('../fonts/futuraPT-heavy/FuturaPT-Heavy.eot');
src: url('../fonts/futuraPT-heavy/FuturaPT-Heavy.eot?#iefix') format('embedded-opentype'),
url('../fonts/futuraPT-heavy/FuturaPT-Heavy.woff') format('woff'),
url('../fonts/futuraPT-heavy/FuturaPT-Heavy.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'Futura PT Light';
src: url('../fonts/futuraPT-light/FuturaPT-Light.eot');
src: url('../fonts/futuraPT-light/FuturaPT-Light.eot?#iefix') format('embedded-opentype'),
url('../fonts/futuraPT-light/FuturaPT-Light.woff') format('woff'),
url('../fonts/futuraPT-light/FuturaPT-Light.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'Futura PT Demi';
src: url('../fonts/futuraPT-demi/FuturaPT-Demi.eot');
src: url('../fonts/futuraPT-demi/FuturaPT-Demi.eot?#iefix') format('embedded-opentype'),
url('../fonts/futuraPT-demi/FuturaPT-Demi.woff') format('woff'),
url('../fonts/futuraPT-demi/FuturaPT-Demi.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'Futura PT Book';
src: url('../fonts/futuraPT-book/FuturaPT-Book.eot');
src: url('../fonts/futuraPT-book/FuturaPT-Book.eot?#iefix') format('embedded-opentype'),
url('../fonts/futuraPT-book/FuturaPT-Book.woff') format('woff'),
url('../fonts/futuraPT-book/FuturaPT-Book.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'Futura PT ExtraBold';
src: url('../fonts/futuraPT-extrabold/FuturaPT-ExtraBold.eot');
src: url('../fonts/futuraPT-extrabold/FuturaPT-ExtraBold.eot?#iefix') format('embedded-opentype'),
url('../fonts/futuraPT-extrabold/FuturaPT-ExtraBold.woff') format('woff'),
url('../fonts/futuraPT-extrabold/FuturaPT-ExtraBold.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}