.main
  &-content
    padding-left: 66px
    padding-top: 72px
    background-image: url(./img/3-layers.jpg)
    background-position: 100% 230%
    background-repeat: no-repeat
  &-title
    color: #202020
    font-size: 35px
    font-family: 'Futura PT Demi'
    line-height: 1.2
    margin-bottom: 20px
    &__color
      color: #3567b9
  &-numeral
    font-family: 'Futura PT ExtraBold'
    font-size: 65px
    color: #fff200
    position: absolute
    &__text1
      font-size: 14px
      color: #202020
      font-family: 'Futura PT Light'
      position: relative
      line-height: 1.24
      font-weight: bold
    &__text2
      font-size: 14px
      color: #202020
      font-family: 'Futura PT Light'
      position: relative
      line-height: 1.24
      font-weight: bold
      padding-left: 2px
    &__text3
      font-size: 14px
      color: #202020
      font-family: 'Futura PT Light'
      position: relative
      line-height: 1.24
      font-weight: bold
  &-numeral1
    font-family: 'Futura PT ExtraBold'
    font-size: 65px
    color: #fff200
    position: absolute
    z-index: -200
    left: -24px
    top: -26px
  &-numeral2
    font-family: 'Futura PT ExtraBold'
    font-size: 65px
    color: #fff200
    position: absolute
    z-index: -200
    left: -14px
    top: -26px
  &-numeral3
    font-family: 'Futura PT ExtraBold'
    font-size: 65px
    color: #fff200
    position: absolute
    z-index: -200
    left: -14px
    top: -26px
  &-text
    color: #202020
    font-size: 18px
    font-family: 'Futura PT Light'
    font-weight: bold
    margin-bottom: 28px
    line-height: 1.2
    &__2
      color: #202020
      font-size: 22px
      font-family: 'Futura PT Book'
      padding-bottom: 41px
      display: flex
      &-bold
        font-weight: 800
        padding-left: 5px
    &__3
      display: flex
      width: 505px
      justify-content: space-between
      margin-bottom: 42px
  &-button
    padding: 16px 28px
    box-shadow: 0 6px 13px rgba(255, 240, 78, 0.32)
    background-color: #fff04e
    background-image: linear-gradient(to top, #10397d 0%, #3567b9 97%, #3567b9 100%)
    border: none
    border-radius: 10px
    font-size: 15px
    text-transform: uppercase
    color: #ffffff
    font-family: 'Futura PT Demi'
    margin-bottom: 14px
    margin-left: 4px
    &:hover
      cursor: pointer
  &-footer
    font-size: 12px
    font-family: 'Futura PT Light'
    font-weight: bold
    margin-bottom: 50px
  &-img 
    position: relative
    z-index: -200
    margin: auto
    width: 966px
    &__src
      position: absolute
      z-index: -200
      max-width: 106%

@media (max-width: 1124px)
  .main-content
    padding-top: 15px
@media (max-width: 950px)
  .main-content
    padding-left: 0
  .main-img__src
    display: none
@media (max-width: 768px)
  .container
    max-width: 760px
    width: 90%
    margin-top: 0 
@media (max-width: 576px)
  .container
    max-width: 500px
    width: 90%
  .main-title
    font-size: 24px
    text-align: center
  .main-text__2
      display: block
  .main-text__3
    flex-direction: column
    align-items: center
    width: 347px
    margin: auto
    padding-bottom: 30px
  .main-content
    text-align: center
  .main-numeral
    &__text1
      padding-bottom: 30px
    &__text2
      padding-bottom: 30px
@media (max-width: 320px)
  .container
    max-width: 310px
    width: 95%
    
      