* {
	box-sizing: border-box;
    background-color: #f9f9f9;

}
.tools {
	background-color: #f9f9f9;
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.title {	
	font-size: 36px;
	font-weight: 400;
}
.box_tools {
	 margin: auto;
	 background-color: #f9f9f9;
	 display: flex;
     justify-content: space-between;
     width: 1139px;   
}
.element {
	 width: 263px;
     height: 210px; 
     background-color: white;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-between;
}
.cost {
	font-weight: bold;
	padding-bottom: 
}
.btn {
	font-weight: 700;
	font-size: 13px;
	color: #23bac1;
	padding: 23px 75px;
	background-color: #f9f9f9;
	border: 1px solid #23bac1;
}
.cost{
	
}
body {
	margin: 0;
}
.name {
	padding-top: 27px;
	padding-bottom: 22px;

}
img {
}
b {
	padding-bottom: 25px;
}