html {
	background-color: #969992;
}
h1 {
	text-align: center;
	color: red;
}
h2 {
	text-align: center;
	color: maroon;
}
.fat {
	font-weight:bold;
	color: orange;
}
.italics {
	font-style:italic;
	color: purple;
}
.underline {
	text-decoration: underline;
}
.crossed_out {
	text-decoration:line-through;
}
.color {
	background-color: #808080;
}
.image {
    width: 500px;
    height: 300px;
    float: right;

}
.pos {
	position: fixed;
	top: 150px;
	right: 50px;
	background-color: #ADFF2F;
	

}