.navbar
  display: flex
  padding-top: 14px
  &__icon
    display: flex
    margin-left: 88px
    &-inst
      width: 30px
    &-what
      padding-left: 24px
  &__text
    margin: 0
    padding: 4px
    margin-left: auto
    width: 450px
    display: flex
    justify-content: space-between
    &:hover
      cursor: pointer
    &-1
      display: inline
      margin-right: 5px
      color: #202020
      font-size: 18px
      font-weight: 300
      font-family: 'Futura PT Light'
      &:last-child
        margin-right:   0
