*
  box-sizing: border-box
  outline: none
  text-decoration: none
link
  text-decoration: none
body
  font-family: serif
  overflow-x: hidden
  background-image: url(../img/main-img.jpg)
  background-position: 48% 1%
  background-repeat: no-repeat
  background-size: 160%
img
  max-width: 100%
.container
  margin: auto
  width: 940px
@media (max-width: 1200px)
  .container
    width: 95%
    max-width: 960px
  body
    background-size: cover
@media (max-width: 768px)
  .container
    max-width: 760px
    width: 90%
    margin-top: 0
  
@media (max-width: 576px)
  .container
    max-width: 500px
    width: 90%
@media (max-width: 320px)
  .container
    max-width: 310px
    width: 95%